.Weather {
  display: flex;
  flex-direction: column;
}

.Weather_forecast {
  display: flex;
  justify-content: center;
}

.Weather_focused {
  font-size: 30px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.Weather_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}


Weather_box .Weather_temp {
  font_size: 30px;
}

.Weather_box img {
  width: 40px;
}

.Weather_desc {
  text-transform: capitalize;
}
